<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key ="HOST" value ="https://192.168.1.150"/>
    <add key ="PORT" value ="8443"/>
    <add key ="AUTHENTICATION_API_ACCESS_TOKEN" value ="92c1c93e61cc1ad13d80f9d345e025f1a14587b9"/>
    <add key ="ADMIN_API_ACCESS_TOKEN" value ="085dfcc19c4c162e6e85b5de8f128f0f0de14320"/>
    <add key ="INTERNAL_USERNAME" value ="userwithsms"/>
    <add key ="LDAP_USERNAME" value ="testldapuser@local.com"/>
    <add key ="LDAP_PASSWORD" value ="12345"/>
	<add key ="INTERNAL_PASSWORD" value ="12345ss"/>
  </appSettings>
</configuration>