<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key ="HOST" value ="https://safewalk....."/>
    <add key ="PORT" value ="844.."/>
    <add key ="setBypassSSLCertificate" value ="true"/>

    <!-- to complete this value, follow the information in README.md -->
    <add key ="AUTHENTICATION_API_ACCESS_TOKEN" value =""/>
    
    
    
    
  </appSettings>
</configuration>